CarCalculate-app/src/main/java/com/chinalife/sz/carcalculate/webservice/SalesAgentInfoQueryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://serviceIndiv.webServiceCenter.sinosoft.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2682="http://common.ehmservice.services.dto.webServiceCenter.sinosoft.com/xsd" xmlns:ax2681="http://ehmservice.services.dto.webServiceCenter.sinosoft.com/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://serviceIndiv.webServiceCenter.sinosoft.com">
    <wsdl:documentation>SalesAgentInfoQueryService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2683="http://common.ehmservice.services.dto.webServiceCenter.sinosoft.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ehmservice.services.dto.webServiceCenter.sinosoft.com/xsd">
            <xs:import namespace="http://common.ehmservice.services.dto.webServiceCenter.sinosoft.com/xsd"/>
            <xs:complexType name="SalesAgentInfoQueryEhmRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="businessNatureCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessNatureName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="handler1Code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="logonRole" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tXInsuranceRequestEhm" nillable="true" type="ax2683:TXInsuranceRequestEhm"/>
                    <xs:element minOccurs="0" name="tXInsuranceRequestExtensionEhm" nillable="true" type="ax2683:TXInsuranceRequestExtensionEhm"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SalesAgentInfoQueryEhmResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="agentArr" nillable="true" type="ax2683:AgentEhm"/>
                    <xs:element minOccurs="0" name="businessNatureCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessNatureName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="handler1Code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="logonRole" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="switchMessage" nillable="true" type="ax2683:SwitchMessage"/>
                    <xs:element minOccurs="0" name="tXInsuranceResponseEhm" nillable="true" type="ax2683:TXInsuranceResponseEhm"/>
                    <xs:element minOccurs="0" name="tXInsuranceResponseExtensionEhm" nillable="true" type="ax2683:TXInsuranceResponseExtensionEhm"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2684="http://ehmservice.services.dto.webServiceCenter.sinosoft.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://serviceIndiv.webServiceCenter.sinosoft.com">
            <xs:import namespace="http://ehmservice.services.dto.webServiceCenter.sinosoft.com/xsd"/>
            <xs:element name="salesAgentInfoQuery">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ehmRequest" nillable="true" type="ax2684:SalesAgentInfoQueryEhmRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="salesAgentInfoQueryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2684:SalesAgentInfoQueryEhmResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.ehmservice.services.dto.webServiceCenter.sinosoft.com/xsd">
            <xs:complexType name="TXInsuranceEhm">
                <xs:sequence>
                    <xs:element minOccurs="0" name="transExeDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transExeTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transRefGUID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transSubType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TXInsuranceRequestEhm">
                <xs:complexContent>
                    <xs:extension base="ax2682:TXInsuranceEhm">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="iInsuranceExtensionEhm" nillable="true" type="ax2682:IInsuranceExtensionEhm"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="IInsuranceExtensionEhm">
                <xs:sequence>
                    <xs:element minOccurs="0" name="maxRecords" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="orderFlag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pageFlag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pageRowNum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rowNumStart" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TXInsuranceExtensionEhm">
                <xs:sequence>
                    <xs:element minOccurs="0" name="operator" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="operatorKey" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TXInsuranceRequestExtensionEhm">
                <xs:complexContent>
                    <xs:extension base="ax2682:TXInsuranceExtensionEhm">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="AgentEhm">
                <xs:sequence>
                    <xs:element minOccurs="0" name="agentCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="agentName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="agentType" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="agentorgmemberArr" nillable="true" type="ax2682:AgentorgmemberEhm"/>
                    <xs:element minOccurs="0" name="agreementNo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="permitNo" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AgentorgmemberEhm">
                <xs:sequence>
                    <xs:element minOccurs="0" name="psnCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="psnName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="psnPhoneNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="vocationId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SwitchMessage">
                <xs:sequence>
                    <xs:element minOccurs="0" name="agentShowFlag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="handlerShowFlag" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TXInsuranceResponseEhm">
                <xs:sequence>
                    <xs:element minOccurs="0" name="transExeDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transExeTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transRefGUID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transResultEhm" nillable="true" type="ax2682:TransResultEhm"/>
                    <xs:element minOccurs="0" name="transSubType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="oInsuranceExtensionEhm" nillable="true" type="ax2682:OInsuranceExtensionEhm"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TransResultEhm">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorNo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultInfoDesc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stackTrace" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OInsuranceExtensionEhm">
                <xs:sequence>
                    <xs:element minOccurs="0" name="maxRecords" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TXInsuranceResponseExtensionEhm">
                <xs:complexContent>
                    <xs:extension base="ax2682:TXInsuranceExtensionEhm">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="salesAgentInfoQueryRequest">
        <wsdl:part name="parameters" element="ns:salesAgentInfoQuery"/>
    </wsdl:message>
    <wsdl:message name="salesAgentInfoQueryResponse">
        <wsdl:part name="parameters" element="ns:salesAgentInfoQueryResponse"/>
    </wsdl:message>
    <wsdl:portType name="SalesAgentInfoQueryServicePortType">
        <wsdl:operation name="salesAgentInfoQuery">
            <wsdl:input message="ns:salesAgentInfoQueryRequest" wsaw:Action="urn:salesAgentInfoQuery"/>
            <wsdl:output message="ns:salesAgentInfoQueryResponse" wsaw:Action="urn:salesAgentInfoQueryResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SalesAgentInfoQueryServiceSoap11Binding" type="ns:SalesAgentInfoQueryServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="salesAgentInfoQuery">
            <soap:operation soapAction="urn:salesAgentInfoQuery" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SalesAgentInfoQueryServiceSoap12Binding" type="ns:SalesAgentInfoQueryServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="salesAgentInfoQuery">
            <soap12:operation soapAction="urn:salesAgentInfoQuery" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SalesAgentInfoQueryServiceHttpBinding" type="ns:SalesAgentInfoQueryServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="salesAgentInfoQuery">
            <http:operation location="SalesAgentInfoQueryService/salesAgentInfoQuery"/>
            <wsdl:input>
                <mime:content type="text/xml" part="salesAgentInfoQuery"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="salesAgentInfoQuery"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SalesAgentInfoQueryService">
        <wsdl:port name="SalesAgentInfoQueryServiceHttpSoap11Endpoint" binding="ns:SalesAgentInfoQueryServiceSoap11Binding">
            <soap:address location="http://9.23.22.169:7001/webServiceCenter/services/SalesAgentInfoQueryService.SalesAgentInfoQueryServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SalesAgentInfoQueryServiceHttpSoap12Endpoint" binding="ns:SalesAgentInfoQueryServiceSoap12Binding">
            <soap12:address location="http://9.23.22.169:7001/webServiceCenter/services/SalesAgentInfoQueryService.SalesAgentInfoQueryServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SalesAgentInfoQueryServiceHttpEndpoint" binding="ns:SalesAgentInfoQueryServiceHttpBinding">
            <http:address location="http://9.23.22.169:7001/webServiceCenter/services/SalesAgentInfoQueryService.SalesAgentInfoQueryServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
